{{template "base/base.html" .}}
{{define "head"}}
  <script src="/static/js/room.js" charset="utf-8"></script>
  <title>Room</title>
{{end}}
{{define "body"}}
  <div class="row" id="room--div--container">
    <div class="col-md-offset-3 col-md-6">
      <div class="jumbotron">
        <ul
          class="list-unstyled"
          id="chat-history"></ul>
      </div>

      <form class="form-inline">
        <div class="form-group" id="room--div--input">
          <input type="text" class="form-control" name="input" id="input">
        </div>
        <button type="submit" class="btn btn-primary" id="submit-btn">
          Send
        </button>
      </form>
    </div>
  </div>
  <span style='display: none' id='username'>{{.username}}</span>
  <span style='display: none' id='roomName'>{{.roomName}}</span>
{{end}}
