// Comment for SASS auto-compiler
#div-index {
  margin-top: 200px;

  a.btn {
    width: 7em;
    font-size: 5em;
    height: 2em;
  }
}

.form-control {
  width: 50%;
}

#room--div--container {
  margin-top: 7em;

  #room--div--input {
    width: 85%;

    .form-control {
      width: 100%;
    }
  }
}

#room--div--container {
  .jumbotron {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

#chat-history {
  height: 200px !important;
  overflow: scroll !important;
}
